@model IEnumerable<Blog>
@{
    ViewData["Title"] = "Index";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url(../images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Blog</h1>
                <p class="breadcrumbs"><span class="mr-2"><a asp-controller="Home" asp-action="Index">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            @foreach (Blog blog in Model)
            {
                <div class="col-md-4 ftco-animate">
                    <div class="blog-entry">
                        <a href="@Url.Action("Detail","Blog",new { slug=blog.Slug})" class="block-20 d-flex align-items-end justify-content-end" style="background-image: url(../images/@blog.Image);">
                            <div class="meta-date text-center p-2">
                                <span class="day">@blog.Date.Day</span>
                                <span class="mos">@blog.Date.ToString("MMMM", new System.Globalization.CultureInfo("ru"))</span>
                                <span class="yr">@blog.Date.Year</span>
                            </div>
                        </a>
                        <div class="text bg-white p-4">
                            <h3 class="heading"><a href="@Url.Action("Details","Blog",new { slug=blog.Slug})">@blog.BlogName</a></h3>
                            <p>
                                @if (blog.Description.Length > 95)
                                {
                                    <span>@Html.Raw(blog.Description.Substring(0, 95))</span> <span>...</span>
                                }
                                else
                                {
                                    @Html.Raw(blog.Description);
                                }
                            </p>
                            <div class="d-flex align-items-center mt-4">
                                <p class="mb-0"><a asp-controller="Blog" asp-action="Detail" asp-route-slug="@blog.Slug" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
                                <p class="ml-auto mb-0">
                                    <a href="#" class="mr-2">@blog.Author</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="row no-gutters my-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        @for (int i = 1; i <= ViewBag.PageCount; i++)
                        {
                            if (ViewBag.Page == null)
                            {
                                if (i == 1)
                                {
                                    <li class="active"><span><a class="disabled" href="/Blog/Index?page=@i">@i</a> </span></li>
                                }
                                else
                                {
                                    <li class="active"><span><a href="/Blog/Index?page=@i">@i</a></span></li>
                                }
                            }
                            else
                            {
                                if (i == ViewBag.Page)
                                {
                                    <li class="active"><span><a class="disabled" href="/Blog/Index?page=@i">@i</a> </span></li>
                                }
                                else
                                {
                                    <li class="active"><span><a href="/Blog/Index?page=@i">@i</a> </span></li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
