@model IEnumerable<Doctor>
@{
    ViewData["Title"] = "Index";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('../images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Our Dentist</h1>
                <p class="breadcrumbs"><span class="mr-2"><a asp-controller="Home" asp-action="Index">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Doctors <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            @foreach (Doctor doctor in Model)
            {
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="staff">
                        <div class="img-wrap d-flex align-items-stretch">
                            <div class="img align-self-stretch" style="background-image: url(../images/@doctor.Image);"></div>
                        </div>
                        <div class="text pt-3 text-center">
                            <h3>Dr. @doctor.FullName</h3>
                            <span class="position mb-2">@doctor.Profession</span>
                            <div class="faded">
                                <p>@doctor.About</p>
                                <ul class="ftco-social text-center">
                                    <li class="ftco-animate"><a href="@doctor.Twitter" class="d-flex align-items-center justify-content-center"><span class="icon-twitter"></span></a></li>
                                    <li class="ftco-animate"><a href="@doctor.Facebook" class="d-flex align-items-center justify-content-center"><span class="icon-facebook"></span></a></li>
                                    <li class="ftco-animate"><a href="@doctor.Gmail" class="d-flex align-items-center justify-content-center"><span class="icon-google-plus"></span></a></li>
                                    <li class="ftco-animate"><a href="@doctor.Instagram" class="d-flex align-items-center justify-content-center"><span class="icon-instagram"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>

