@model Bio
@{
    ViewData["Title"] = "Default";
}


<div class="py-md-5 py-4 border-bottom">
    <div class="container">
        <div class="row no-gutters d-flex align-items-start align-items-center px-3 px-md-0">
            <div class="col-md-4 order-md-2 mb-2 mb-md-0 align-items-center text-center">

                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    CK ДEНT<span>
                        Стоматологическая клиника
                    </span>
                </a>
            </div>
            <div class="col-md-4 order-md-1 d-flex topper mb-md-0 mb-2 align-items-center text-md-right">
                
                <div class="pr-md-4 pl-md-0 pl-3 text">
                    <p class="con"><span>Вызов</span> <span>@Model.PhoneNumber</span></p>
                    <p class="con">@Model.Address</p>
                </div>
            </div>
            <div class="col-md-4 order-md-3 d-flex topper mb-md-0 align-items-center">
                <div class="text pl-3 pl-md-3">
                    <p class="hr">
                        <span>
                            Bремя работы
                        </span>
                    </p>
                    <p class="time"><span>Понедельник - Суббота:</span> <span>@Model.WeekDaysOpenHour.ToString(@"hh\:mm")- @Model.WeekdayCloseHour.ToString(@"hh\:mm")</span> Воскресенье: По записи</p>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container d-flex align-items-center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Меню
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav m-auto">
                @if (@ViewContext.RouteData.Values["controller"].ToString() == "Home")
                {
                    <li class="nav-item active"><a asp-controller="Home" asp-action="Index" class="nav-link pl-0">Главная</a></li>
                    <li class="nav-item"><a asp-controller="About" asp-action="Index" class="nav-link"> O нас</a></li>
                    <li class="nav-item"><a asp-controller="Doctor" asp-action="Index" class="nav-link"> наши врачи</a></li>
                    <li class="nav-item"><a asp-controller="Treatment" asp-action="Index" class="nav-link">услуги</a></li>
                    <li class="nav-item"><a asp-controller="Price" asp-action="Index" class="nav-link">Цены</a></li>
                    <li class="nav-item"><a asp-controller="Contact" asp-action="Index" class="nav-link">KонтактЫ</a></li>



                }
                @if (@ViewContext.RouteData.Values["controller"].ToString() == "About")
                {
                    <li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link pl-0">Главная</a></li>
                    <li class="nav-item active"><a asp-controller="About" asp-action="Index" class="nav-link">O нас</a></li>
                    <li class="nav-item"><a asp-controller="Doctor" asp-action="Index" class="nav-link"> наши врачи</a></li>
                    <li class="nav-item"><a asp-controller="Treatment" asp-action="Index" class="nav-link">услуги</a></li>
                    <li class="nav-item"><a asp-controller="Price" asp-action="Index" class="nav-link">Цены</a></li>
                    <li class="nav-item"><a asp-controller="Contact" asp-action="Index" class="nav-link">KонтактЫ</a></li>

                }
                @if (@ViewContext.RouteData.Values["controller"].ToString() == "Doctor")
                {


                    <li class="nav-item "><a asp-controller="Home" asp-action="Index" class="nav-link pl-0">Главная</a></li>
                    <li class="nav-item"><a asp-controller="About" asp-action="Index" class="nav-link">O нас</a></li>
                    <li class="nav-item active"><a asp-controller="Doctor" asp-action="Index" class="nav-link"> наши врачи</a></li>
                    <li class="nav-item"><a asp-controller="Treatment" asp-action="Index" class="nav-link">услуги</a></li>
                    <li class="nav-item"><a asp-controller="Price" asp-action="Index" class="nav-link">Цены</a></li>
                    <li class="nav-item"><a asp-controller="Contact" asp-action="Index" class="nav-link">KонтактЫ</a></li>


                }
                @if (@ViewContext.RouteData.Values["controller"].ToString() == "Treatment")
                {
                    <li class="nav-item "><a asp-controller="Home" asp-action="Index" class="nav-link pl-0">Главная</a></li>
                    <li class="nav-item"><a asp-controller="About" asp-action="Index" class="nav-link">O нас</a></li>
                    <li class="nav-item"><a asp-controller="Doctor" asp-action="Index" class="nav-link"> наши врачи</a></li>
                    <li class="nav-item active"><a asp-controller="Treatment" asp-action="Index" class="nav-link">услуги</a></li>
                    <li class="nav-item"><a asp-controller="Price" asp-action="Index" class="nav-link">Цены</a></li>
                    <li class="nav-item"><a asp-controller="Contact" asp-action="Index" class="nav-link">KонтактЫ</a></li>


                }
                @if (@ViewContext.RouteData.Values["controller"].ToString() == "Price")
                {
                    <li class="nav-item "><a asp-controller="Home" asp-action="Index" class="nav-link pl-0">Главная</a></li>
                    <li class="nav-item"><a asp-controller="About" asp-action="Index" class="nav-link">O нас</a></li>
                    <li class="nav-item"><a asp-controller="Doctor" asp-action="Index" class="nav-link"> наши врачи</a></li>
                    <li class="nav-item"><a asp-controller="Treatment" asp-action="Index" class="nav-link">услуги</a></li>
                    <li class="nav-item active"><a asp-controller="Price" asp-action="Index" class="nav-link">Цены</a></li>
                    <li class="nav-item"><a asp-controller="Contact" asp-action="Index" class="nav-link">KонтактЫ</a></li>


                }
                @if (@ViewContext.RouteData.Values["controller"].ToString() == "Contact")
                {
                    <li class="nav-item "><a asp-controller="Home" asp-action="Index" class="nav-link pl-0">Главная</a></li>
                    <li class="nav-item"><a asp-controller="About" asp-action="Index" class="nav-link">O нас</a></li>
                    <li class="nav-item"><a asp-controller="Doctor" asp-action="Index" class="nav-link"> наши врачи</a></li>
                    <li class="nav-item"><a asp-controller="Treatment" asp-action="Index" class="nav-link">услуги</a></li>
                    <li class="nav-item"><a asp-controller="Price" asp-action="Index" class="nav-link">Цены</a></li>
                    <li class="nav-item active"><a asp-controller="Contact" asp-action="Index" class="nav-link">KонтактЫ</a></li>


                }




            </ul>
        </div>
    </div>
</nav>

